workflows/04-self-monitoring/workflow.json
{
  "id": "NxmicOndbsq6WTHE",
  "name": "04 - Self Monitoring",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "04-sched-001",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://your-n8n-instance.com/api/v1/executions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "id": "04-http-002",
      "name": "Get Recent Executions",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_N8N_API_CREDENTIAL_ID",
          "name": "n8n API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const executions = $input.first().json.data || [];\nconst digestWorkflowIds = ['K6vwgGzZp30lg39w','TSvhSSKCWziOGdak','bQS6Cxzijz7gbOBo','gm0wqu3vggduIXOj','SzMpYRqZUmnOorjj'];\nconst today = new Date().toDateString();\nconst found = executions.filter(e => digestWorkflowIds.includes(e.workflowId) && new Date(e.startedAt).toDateString() === today);\nconst missing = digestWorkflowIds.filter(id => !found.find(e => e.workflowId === id));\nreturn [{json:{found_count: found.length, missing_ids: missing, all_ok: missing.length === 0}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "04-code-003",
      "name": "Check Digest Status"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=📊 <b>Self-Monitoring Report</b>\n\nDigests ran today: {{ $json.found_count }}/5\nMissing: {{ $json.missing_ids.join(', ') || 'None' }}\nStatus: {{ $json.all_ok ? '✅ All good' : '⚠️ Issues detected' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        0
      ],
      "id": "04-tg-004",
      "name": "Send Status Report",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_DEBUG_BOT_CREDENTIAL_ID",
          "name": "t.me/kwcedebugbot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Recent Executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Executions": {
      "main": [
        [
          {
            "node": "Check Digest Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Digest Status": {
      "main": [
        [
          {
            "node": "Send Status Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "04-version-001",
  "triggerCount": 1,
  "tags": []
}