workflows/05-prospect-polling/workflow.json
{
  "id": "8Yjw2MsHtje7LcX4",
  "name": "05 - Prospect Polling",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "05-sched-001",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM email_triage WHERE category = 'PROSPECT_CHAUD' AND draft_sent IS NULL ORDER BY processed_at ASC LIMIT 5",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        240,
        0
      ],
      "id": "05-pg-002",
      "name": "Poll Prospects",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un assistant commercial pour une agence d'automatisation n8n. Redige une reponse professionnelle a ce prospect.\n\nDe: {{ $json.from_email }}\nObjet: {{ $json.subject }}\nResume: {{ $json.summary }}\n\nReponds en francais, naturel, max 150 mots.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        0
      ],
      "id": "05-agent-003",
      "name": "Draft Reply AI"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama-3.3-70b-versatile",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        480,
        200
      ],
      "id": "05-llm-004",
      "name": "Groq Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_GROQ_OPENAI_COMPAT_CREDENTIAL_ID",
          "name": "groq api"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🔥 <b>Prospect Chaud</b>\n\nDe: {{ $json.from_email }}\nObjet: {{ $json.subject }}\n\n<b>Brouillon:</b>\n{{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "replyMarkup": "inlineKeyboard",
          "replyMarkupUi": {
            "values": [
              {
                "row": [
                  {
                    "text": "✅ Envoyer",
                    "callbackData": "send_{{ $json.message_id }}"
                  },
                  {
                    "text": "❌ Ignorer",
                    "callbackData": "skip_{{ $json.message_id }}"
                  }
                ]
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        0
      ],
      "id": "05-tg-005",
      "name": "Send Draft to Telegram",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_BOT_CREDENTIAL_ID",
          "name": "t.me/kwcebot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE email_triage SET draft_sent = NOW() WHERE message_id = '{{ $json.message_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        960,
        0
      ],
      "id": "05-pg-006",
      "name": "Save Draft to DB",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Poll Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Prospects": {
      "main": [
        [
          {
            "node": "Draft Reply AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Reply AI": {
      "main": [
        [
          {
            "node": "Send Draft to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Draft Reply AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Draft to Telegram": {
      "main": [
        [
          {
            "node": "Save Draft to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "8mwtMCWk0T2g0mSw"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "05-version-001",
  "triggerCount": 1,
  "tags": []
}