workflows/06-prospection-veille/workflow.json
{
  "id": "v2yKBCJDZVYtiX0f",
  "name": "06 - Prospection Veille",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "06-sched-001",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://remotive.com/api/remote-jobs?search=automation&limit=20",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -200
      ],
      "id": "06-http-remotive",
      "name": "Remotive"
    },
    {
      "parameters": {
        "url": "https://weworkremotely.com/categories/remote-programming-jobs.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        -60
      ],
      "id": "06-rss-wwr",
      "name": "WeWorkRemotely",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/jobs",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        80
      ],
      "id": "06-rss-hn",
      "name": "HackerNews Jobs",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://jobicy.com/?feed=job_feed&job_categories=dev&job_types=remote",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        220
      ],
      "id": "06-rss-jobicy",
      "name": "Jobicy",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Score this job opportunity for an automation/n8n freelancer (1-10). Reply JSON only: {\"score\": N, \"reason\": \"...\", \"proposal_draft\": \"...\"}\n\nJob: {{ $json.title }}\nDescription: {{ ($json.description || $json.contentSnippet || '').substring(0, 500) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        720,
        0
      ],
      "id": "06-agent-score",
      "name": "Score Opportunity"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama-3.3-70b-versatile",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        720,
        200
      ],
      "id": "06-llm",
      "name": "Groq Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_GROQ_OPENAI_COMPAT_CREDENTIAL_ID",
          "name": "groq api"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        960,
        0
      ],
      "id": "06-filter",
      "name": "Filter Score >= 6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO opportunities (title, url, score, reason, proposal_draft, source, found_at) VALUES ('{{ $json.title }}', '{{ $json.link || $json.url }}', {{ $json.score }}, '{{ $json.reason }}', '{{ $json.proposal_draft }}', 'job_board', NOW()) ON CONFLICT DO NOTHING",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1200,
        0
      ],
      "id": "06-pg-save",
      "name": "Save to DB",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=💼 <b>Opportunite {{ $json.score }}/10</b>\n\n{{ $json.title }}\n\n<b>Raison:</b> {{ $json.reason }}\n\n<b>Proposition:</b> {{ ($json.proposal_draft || '').substring(0, 300) }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        0
      ],
      "id": "06-tg-notify",
      "name": "Notify Telegram",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_BOT_CREDENTIAL_ID",
          "name": "t.me/kwcebot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Remotive",
            "type": "main",
            "index": 0
          },
          {
            "node": "WeWorkRemotely",
            "type": "main",
            "index": 0
          },
          {
            "node": "HackerNews Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Jobicy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remotive": {
      "main": [
        [
          {
            "node": "Score Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WeWorkRemotely": {
      "main": [
        [
          {
            "node": "Score Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HackerNews Jobs": {
      "main": [
        [
          {
            "node": "Score Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jobicy": {
      "main": [
        [
          {
            "node": "Score Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Opportunity": {
      "main": [
        [
          {
            "node": "Filter Score >= 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Score Opportunity",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter Score >= 6": {
      "main": [
        [
          {
            "node": "Save to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to DB": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "8mwtMCWk0T2g0mSw"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "06-version-001",
  "triggerCount": 1,
  "tags": []
}