workflows/08-ai-error-agent/workflow.json
{
  "id": "8mwtMCWk0T2g0mSw",
  "name": "08 - AI Error Agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "08-err-001",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un agent de diagnostic d'erreurs n8n. Analyse cette erreur et decide:\n- \"restart\" si erreur transitoire (timeout, rate limit, reseau)\n- \"escalate\" si erreur structurelle (credential invalide, noeud casse, logique)\n\nWorkflow: {{ $json.workflow.name }}\nErreur: {{ $json.execution.error.message }}\nNode: {{ $json.execution.error.node?.name }}\n\nReponds JSON: {\"decision\": \"restart|escalate\", \"reason\": \"...\", \"summary\": \"...\"}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        0
      ],
      "id": "08-agent-002",
      "name": "AI Diagnostic Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama-3.3-70b-versatile",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        200
      ],
      "id": "08-llm-003",
      "name": "Groq Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_GROQ_OPENAI_COMPAT_CREDENTIAL_ID",
          "name": "groq api"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "restart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "escalate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        480,
        0
      ],
      "id": "08-switch-004",
      "name": "Decision Router"
    },
    {
      "parameters": {
        "url": "=https://your-n8n-instance.com/api/v1/workflows/{{ $('Error Trigger').first().json.workflow.id }}/activate",
        "method": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -80
      ],
      "id": "08-http-restart",
      "name": "Auto Restart Workflow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_N8N_API_CREDENTIAL_ID",
          "name": "n8n API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🔄 <b>Auto-restart</b>\n\nWorkflow: {{ $('Error Trigger').first().json.workflow.name }}\nRaison: {{ $json.reason }}\nSummary: {{ $json.summary }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -80
      ],
      "id": "08-tg-restart",
      "name": "Notify Restart",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_BOT_CREDENTIAL_ID",
          "name": "t.me/kwcebot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🚨 <b>Escalade - Erreur Structurelle</b>\n\nWorkflow: {{ $('Error Trigger').first().json.workflow.name }}\nErreur: {{ $('Error Trigger').first().json.execution.error.message }}\nAnalyse: {{ $json.reason }}\nAction requise: {{ $json.summary }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        80
      ],
      "id": "08-tg-escalate",
      "name": "Notify Escalation",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_BOT_CREDENTIAL_ID",
          "name": "t.me/kwcebot"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "AI Diagnostic Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Diagnostic Agent": {
      "main": [
        [
          {
            "node": "Decision Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Diagnostic Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Decision Router": {
      "main": [
        [
          {
            "node": "Auto Restart Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Restart Workflow": {
      "main": [
        [
          {
            "node": "Notify Restart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "08-version-001",
  "triggerCount": 0,
  "tags": []
}